        <footer class="footer text-center text-sm-start">
            &copy; <script>document.write(new Date().getFullYear())</script> 
			LDK <span class="text-muted d-none d-sm-inline-block float-end">VHM with 
			<i class="mdi mdi-heart text-danger"></i> by LDK Software</span>
        </footer><!--end footer-->
        </div>
        <!-- end page content -->
    
    </div>
    <!-- end page-wrapper -->

    <div class="alert custom-alert custom-alert-success icon-custom-alert shadow-sm fade d-flex justify-content-between animate__animated animate__bounce" role="alert">  
        <div class="media">
            <i class="far fa-check-circle alert-icon text-success align-self-center font-30 me-3"></i>
            <!-- <i class="la la-exclamation-triangle alert-icon text-success align-self-center font-30 me-3"></i> -->
            <div class="media-body align-self-center">
                <h5 class="mb-1 fw-bold mt-0 alert-title">NOTIFICATION</h5>
                <span class="alert-message">Oh snap! Change a few things up and try submitting again.</span>
            </div>
        </div>                                  
        <!-- <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close"></button> -->
    </div> 

    <div class="alert custom-alert custom-alert-primary icon-custom-alert shadow-sm fade d-flex justify-content-between animate__animated animate__bounce" role="alert">  
        <div class="media">
            <i class="fas fa-exclamation-circle alert-icon text-primary align-self-center font-30 me-3"></i>
            <!-- <i class="la la-exclamation-triangle alert-icon text-success align-self-center font-30 me-3"></i> -->
            <div class="media-body align-self-center">
                <h5 class="mb-1 fw-bold mt-0 alert-title">NOTIFICATION</h5>
                <span class="alert-message">Oh snap! Change a few things up and try submitting again.</span>
            </div>
        </div>                                  
        <!-- <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close"></button> -->
    </div> 

    <div class="alert custom-alert custom-alert-warning icon-custom-alert shadow-sm fade d-flex justify-content-between animate__animated animate__bounce" role="alert">  
        <div class="media">
            <i class="la la-exclamation-triangle alert-icon text-warning align-self-center font-30 me-3"></i>
            <div class="media-body align-self-center">
                <h5 class="mb-1 fw-bold mt-0 alert-title">NOTIFICATION</h5>
                <span class="alert-message">Oh snap! Change a few things up and try submitting again.</span>
            </div>
        </div>                                  
        <!-- <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close"></button> -->
    </div> 

    <div class="alert custom-alert custom-alert-danger icon-custom-alert shadow-sm fade d-flex justify-content-between animate__animated animate__bounce" role="alert">  
        <div class="media">
            <i class="la la-skull-crossbones alert-icon text-danger align-self-center font-30 me-3"></i>
            <div class="media-body align-self-center">
                <h5 class="mb-1 fw-bold mt-0 alert-title">NOTIFICATION</h5>
                <span class="alert-message">Oh snap! Change a few things up and try submitting again.</span>
            </div>
        </div>                                  
        <!-- <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close"></button> -->
    </div> 

    <!-- jQuery  -->
    <script src="../../../template/admin/dastone/default/assets/js/jquery.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../../template/admin/assets/js/popper.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/js/metismenu.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/js/waves.js"></script>
    <script src="../../../template/admin/dastone/default/assets/js/feather.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/js/simplebar.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/js/moment.js"></script>
    <script src="../../../template/admin/dastone/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="../../../template/admin/dastone/plugins/repeater/jquery.repeater.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/pages/jquery.form-repeater.js"></script>

    <!-- Upload File -->
    <script src="../../../template/admin/dastone/plugins/dropify/js/dropify.min.js"></script>

    <!-- Required datatable js -->
    <script src="../../../template/admin/dastone/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/dataTables.bootstrap5.min.js"></script>
    <!-- Buttons examples -->
    <script src="../../../template/admin/dastone/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/buttons.bootstrap5.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/jszip.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/pdfmake.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/vfs_fonts.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/buttons.html5.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/buttons.print.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/buttons.colVis.min.js"></script>
    
    <!-- Responsive examples -->
    <script src="../../../template/admin/dastone/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/pages/jquery.datatable.init.js"></script>
    
    <script src="../../../template/admin/dastone/plugins/apex-charts/apexcharts.min.js"></script>
    <script src="../../../template/admin/dastone/plugins/apex-charts/irregular-data-series.js"></script>
    <script src="../../../template/admin/dastone/plugins/apex-charts/ohlc.js"></script>
    <!-- <script src="../../../template/admin/dastone/default/assets/pages/jquery.apexcharts.init.js"></script> -->

    <!-- Sweet-Alert  -->
    <script src="../../../template/admin/dastone/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/pages/jquery.sweet-alert.init.js"></script>

    <!-- Select 2 -->
    <script src="../../../template/admin/dastone/plugins/select2/select2.min.js"></script>

	<!-- Slim Select -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>

    <!-- Cleave JS -->
    <script src="../../../template/admin/assets/js/cleave.min.js"></script>

    <!-- Tippy -->
    <script src="../../../template/admin/dastone/plugins/tippy/tippy.all.min.js"></script>

    <!-- Lodash -->
    <script src="../../../template/admin/assets/js/lodash.min.js"></script>

    <!-- File dropzone -->
    <script src="../../../template/admin/assets/js/file-dropzone.js"></script>

    <!-- Fancybox -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    
    <!-- Dragula -->
    <script src="../../../template/admin/dastone/plugins/dragula/dragula.min.js"></script>
    
    <!-- Clip Board -->
    <script src="../../../template/admin/dastone/plugins/clipboard/clipboard.min.js"></script>
    <script src="../../../template/admin/dastone/default/assets/pages/jquery.clipboard.init.js"></script>
    <!-- App js -->
    <script src="../../../template/admin/dastone/default/assets/js/app.js"></script>

    <!-- Main js (Custom Script) -->
    <script src="../../../template/admin/assets/js/main.js"></script>

</body>

</html>
