<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <title> <%= render.title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../../template/admin/dastone/default/assets/images/favicon.ico">

    <!-- Dropify -->
    <link href="../../../template/admin/dastone/plugins/dropify/css/dropify.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="../../../template/admin/dastone/plugins/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../template/admin/dastone/plugins/datatables/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
	
    <!-- Responsive datatable examples -->
    <link href="../../../template/admin/dastone/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 

    <!-- Sweet Alert -->
    <link href="../../../template/admin/dastone/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="./../../template/admin/dastone/plugins/animate/animate.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="/template/admin/assets/css/animate.min.css">

    <!-- Select 2 -->
    <link href="../../../template/admin/dastone/plugins/select2/select2.min.css" rel="stylesheet" />

	<!-- Slim Select -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet" />

    <!-- Fancybox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

    <!-- Dragula -->
    <link href="../../../template/admin/dastone/plugins/dragula/dragula.min.css" rel="stylesheet" type="text/css" />

    <!-- placeholder -->
    <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
    
    <!-- App css -->
    <link href="../../../template/admin/dastone/default/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../template/admin/dastone/default/assets/css/icons.min.css" rel="stylesheet" />
    <link href="../../../template/admin/dastone/default/assets/css/metisMenu.min.css" rel="stylesheet" />
    <link href="../../../template/admin/dastone/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="../../../template/admin/dastone/default/assets/css/app.min.css" rel="stylesheet" />
    <link href="../../../template/admin/assets/css/main.css" rel="stylesheet" />

</head>

<% moment.locale('vi') %>

<body class="dark-sidenav">

    <!-- <div id="loader-wrapper" style="z-index: 10000;">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->

    <div id="global-loader"> 
        <img src="../../../template/admin/assets/images/loader.svg" alt="loader">
    </div>

<!-- ========== Left Sidebar Start ========== -->

<%- include ../inc/admin/utils/leftbar.ejs %>

<!-- ========== Left Sidebar End ========== -->
<!-- <div class="alert custom-alert custom-alert-primary icon-custom-alert shadow-sm fade show d-flex justify-content-between" role="alert">  
    <div class="media">
        <i class="la la-exclamation-triangle alert-icon text-primary align-self-center font-30 me-3"></i>
        <div class="media-body align-self-center">
            <h5 class="mb-1 fw-bold mt-0">Primary</h5>
            <span>Oh snap! Change a few things up and try submitting again.</span>
        </div>
    </div>                                  
    <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close"></button>
</div>  -->

<div class="page-wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">            
        <!-- Navbar -->
        <nav class="navbar-custom">    
            <ul class="list-unstyled topbar-nav float-end mb-0">  
                <li class="dropdown hide-phone">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <i data-feather="search" class="topbar-icon"></i>
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-end dropdown-lg p-0">
                        <!-- Top Search Bar -->
                        <div class="app-search-topbar">
                            <form action="#" method="get">
                                <input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                </li>                      

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <i data-feather="bell" class="align-self-center topbar-icon"></i>
                        <span class="badge bg-danger rounded-pill noti-icon-badge">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">
                    
                        <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                            Notifications <span class="badge bg-primary rounded-pill">2</span>
                        </h6> 
                        <div class="notification-menu" data-simplebar>
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">2 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">10 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <img src="../../../template/admin/dastone/default/assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle">
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Meeting with designers</h6>
                                        <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">40 min ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">                                                    
                                        <i data-feather="users" class="align-self-center icon-xs"></i>
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">UX 3 Task complete.</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">1 hr ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <img src="../../../template/admin/dastone/default/assets/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle">
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                        <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                            <!-- item-->
                            <a href="#" class="dropdown-item py-3">
                                <small class="float-end text-muted ps-2">2 hrs ago</small>
                                <div class="media">
                                    <div class="avatar-md bg-soft-primary">
                                        <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                                    </div>
                                    <div class="media-body align-self-center ms-2 text-truncate">
                                        <h6 class="my-0 fw-normal text-dark">Payment Successfull</h6>
                                        <small class="text-muted mb-0">Dummy text of the printing.</small>
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </a><!--end-item-->
                        </div>
                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                            View all <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false">
                        <span class="ms-1 nav-user-name hidden-sm"> <%= infoUser.username %> </span>
                        <img src="../../../template/admin/dastone/default/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />                                 
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- <div class="dropdown-divider mb-0"></div> -->
                        <a class="dropdown-item" href="/logout"><i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> Logout</a>
                    </div>
                </li>
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">                        
                <li>
                    <button class="nav-link button-menu-mobile">
                        <i data-feather="menu" class="align-self-center topbar-icon"></i>
                    </button>
                </li> 
                <!-- <li class="creat-btn">
                    <div class="nav-link">
                        <a class=" btn btn-sm btn-soft-primary" href="#" role="button"><i class="fas fa-plus me-2"></i>New Task</a>
                    </div>                                
                </li> -->
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->
